.idea/
.idea/*
*.iml

src/main/test/*.dao/
src/main/test/*.dao/*
src/main/resources/*.dao/
src/main/resources/*.dao/*

.DS_Store
*/.DS_Store

target/
target/*
.settings/
.settings/*
.classpath
.project

velocity.log
src/main/webapp/WEB-INF/lib/
src/main/webapp/WEB-INF/lib/*

src/main/webapp/assets/frontend/pages/img/products/*/
src/main/webapp/assets/frontend/pages/img/products/*/*

src/main/java/com/jqm/ssm/*
src/main/java/com/jqm/ssm/*/*

src/main/resources/com/
src/main/resources/com//*
