<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>UserList</title>
</head>
<body>
   <div th:include="include/footer :: copy"></div>
   <div th:include="include/head :: copy"></div>
   <ol>  
        <li>List222循环：  
            <table border="1">  
              <tr>  
                <th>用户名</th>  
                <th>邮箱</th>  
                <th>管理员</th>  
                <th>状态变量：index</th>  
                <th>状态变量：count</th>  
                <th>状态变量：size</th>  
                <th>状态变量：current.userName</th>  
                <th>状态变量：even</th>  
                <th>状态变量：odd</th>  
                <th>状态变量：first</th>  
                <th>状态变量：last</th>  
              </tr>  
              <tr  th:each="user,userStat : ${userlist}">  
                <td th:text="${user.id}">Onions</td>  
                <td th:text="${user.name}">Onions222</td>  
              </tr>  
            </table>  
        </li>  
        </ol>  
</body>
</html>